*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

@font-face {
    font-family: boldFont;
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: regularFont;
    src: url(fonts/Inter-Regular.ttf);
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--navigationOffsetHeight, 1rem);
}

body {
    font-size: 1.6rem;
    
}

h1{
    font-family: boldFont;
    font-size: 5rem;

}

h2{
    font-family: boldFont;
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    margin: 2rem 0;
    text-align: center;
}



button{
    font-family: regularFont;
    color: white;
    background-color: black;
    font-size: 4rem;
    padding: 1.7rem 4.4rem;
    border: none;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* **************************Navbar*********************************** */
.navbar {
    padding: 2rem 3rem 8rem 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    position: relative;
}

.nav-project-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    align-items: center;
}


.nav-project-logo-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-project {
    justify-content: flex-start;
    list-style: none;
    padding: 0.8rem 1.2rem;
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    font-size: clamp(1rem, 0.78rem + 1.42vw, 2.5rem);
    font-family: regularFont, 'Times New Roman', Times;
}



.nav-logo {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.25rem + 1.61vw, 3.2rem);
    font-family: boldFont, 'Times New Roman', Times;
    justify-self: center;
}


.nav-links-social-media {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}


.hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.icon {
    height: 25%;
    width: 100%;
    background-color: black;
}

/* ************** Hero Section ************************** */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    gap: 4.2rem;
}

.hero-image {
    background-image: url("images/hero-image.jpg");
    background-size: cover;
    background-position: center center;
    min-width: 300px;
    width: 44.4rem;
    height: 44.4rem;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.hero-text {
    font-size: 6.4rem;
}

.email-me {
    padding: 1.6rem;
    font-size: 1.6rem;
    background-color: black;
    font-family: regularFont, 'Times New Roman', Times;
}

.email {
    padding: 50px 10px;
}


@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/* **************Email Section******************* */

.email {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.2rem;
}

.email-text-input {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.email-text-input input {
    font-size: 2rem;  
    height: 8rem;
    width: 44.4rem;
}

.email-text-input textarea {
    font-size: 2rem;
    height: 15rem;
    width: 44.4rem;
}

.form input {
    align-items: center;
}

button[type="submit"] {
    align-self: flex-end;
    padding: 1.6rem;
    font-size: 2.3rem;
    font-family: regularFont, 'Times New Roman', Times;
    color: black;
    background-color: white;
}

input, textarea{
    padding: 2rem;
}

textarea {
    height: 44.4rem;
    resize: none;  
}

/* ***********Project Section***************** */
.projects {
    padding: 2rem 3rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-description {
    display: flex;
    gap: 4.2rem;
    /* flex-wrap: wrap; */
}

.images-description img {
    width: 60rem;
    border: 1px solid black;
}
.images-description > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}



.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.stack span {
    padding: .5rem 1rem;
    color: white;
    background-color: black;
}


/***********************media screen***************************/



@media screen and (max-width: 900px) {

    .navbar{
        grid-template-columns: 1fr;
    }

    .nav-project-col {
        grid-template-columns: 1fr 1.5fr;
    }

    .nav-logo{
        justify-self: flex-start;
    }

    h1{
        font-size: 3rem;
    }
    .hamburger-icon {
        display: flex;
    }

    .nav-links-social-media {
        display: none;
    }


    .nav-links-social-media.active {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }

    .hero {
        flex-direction: column;
    }

    .hero-image{
        width: 34.4rem;
        height: 34.4rem;
    }

    .hero-text {
        text-align: center;
    }

    .email {
        padding: 50px 10px;
    }
    .form {
        flex-direction: column;
    }
    button[type="submit"] {
        align-self: center;
    }

    .email-text-input textarea {
        width: 100%;
    }
    .email-text-input input {
        width: 100%;
    }

    .images-description {
        flex-direction: column;
    }

    .images-description img {
        width: 100%;
    }
}


@media screen and (max-width: 600px){

    

    .nav-project-col {
        grid-template-columns: 1fr 1.5fr;
    }

    .nav-logo{
        justify-self: flex-start;
    }

    .hero-image{
        width: 24.4rem;
        height: 24.4rem;
    }
}






